<h1>{{title}}</h1>
<div id="cols" class="column">
        <div id="col" class="col-sm-4">
                <div class="md-form">
                        <input mdbActive type="text" id="form1" class="form-control" [(ngModel)]='ItemName'>
                        <label for="form1" class="">Item name</label>
                </div>
                <div>
                        <select (change)="update()" id="rarity">
                                <option value=""> </option>
                                <option value="Common">Common</option>
                                <option value="Uncommon">Uncommon</option>
                                <option value="Rare">Rare</option>
                                <option value="Very Rare">Very Rare</option>
                                <option value="Legendary">Legendary</option>
                        </select>
                        <select (change)="update()" id="itemType">
                                <option value=""> </option>
                                <option value="Armor">Armor</option>
                                <option value="Potion">Potion</option>
                                <option value="Ring">Ring</option>
                                <option value="Rod">Rod</option>
                                <option value="Scroll">Scroll</option>
                                <option value="Staff">Staff</option>
                                <option value="Wand">Wand</option>
                                <option value="Weapon">Weapon</option>
                                <option value="Wondrous Item">Woundrous Item</option>
                        </select>
                </div>
                <div class="md-form" >
                        <textarea mdbActive type="text" id="ItemDescription" class="md-textarea" [(ngModel)]='Description'></textarea>
                        <label for="form7">Item Description</label>
                </div>
        </div>
        <div id="col" class="col-sm-8">
                <div id="WorkFrame">
                        <div id="RedBar"></div>
                                <div id="Background">
                                        <p id="ItemName">{{ItemName}}</p>
                                        <p id="ItemRarityCategory">{{ItemRarity}} {{ItemCategory}}</p>
                                                <svg id='triangle' viewBox="0 0 8000 500" preserveAspectRatio="none">
                                                        <polygon points="0,0 0,500 7999,250" style="fill:#af1300;"/>
                                                </svg>
                                        <pre id="ItemDescription">{{Description}}</pre>
                                </div>
                                <div id="RedBar"></div>
                        </div>
                <button type="button" (click)="toImage()" class="btn btn-primary">Render Image</button>
                <button type="button" (click)="upload()" class="btn btn-primary">Save Image to Cloud</button>
                <p>Right click the image below and press "Save image as...":</p>
                <img id="result">
        </div>
</div>