h1 {
        margin-left: 12px;
        font-weight: bold;
        text-decoration: underline;
}
#cols {
        margin: 0px;
        width: 100%;
        display: flex;
        justify-content: center;
}

#ItemDescription {
        margin: 0px;
        margin-left: 8px;
}

svg {
        height: 7px;
        width: 95%;
        margin-left: 8px;
        margin-right: 8px;
}
#Background {
        background-color: rgb(255, 232, 195);
        margin: 0px;
        padding: 0px;
        margin-left: 5px;
        margin-right: 5px;
}

#WorkFrame{
        width: auto;
        height: auto;
        margin: 0px;
        padding: 0px;
        border: 0px;
}

#ItemName {
        font-family: 'Times New Roman', Times, serif;
        font-weight: bold;
        font-size: 30px;
        margin: 0px;
        margin-left: 8px;
        padding-bottom: 0px;
}

#ItemRarityCategory{
        font-family: 'Times New Roman', Times, serif;
        margin: 0px;
        margin-left:8px;
        font-size: 16px;
}

textarea {
        margin-left: 8px;
        margin-right: 0px;
        width: 100%;
}

canvas{
        width: 800px;
        height: 500px;
        background: gray;
}
#RedBar{
        background: #af1300;
        width: 100%;
        height:8px;
        margin: 0px;
}

img {
        width: 100%;
}