<h1>{{title}}</h1>
<div id="formContainer">
        <div id="textBox1" class="md-form">
                <input mdbActive type="text" id="form1" class="form-control" [(ngModel)]='itemName'>
                <label for="form1" class="">Item Name</label>
        </div>
        <div id="space"></div>
        <select id="select" ng-selected="1" class="form-control" [(ngModel)]="itemType">
                <option *ngFor="let type of itemTypes" [value]="type.value">{{type.value}}</option>
        </select>
        <div id="space"></div>
        <button type="button" (click)="filter()" class="btn btn-primary">Filter</button>
</div>
<br>
<div *ngIf="items != null" style="padding-bottom: 640px">
        <div id="table" class="tableHeader">
                <td id="index">Index</td>
                <td id="name">Item</td>
                <td id="type">Type</td>
                <td id="cost">Cost</td>
        </div>
        <tbody id="table" *ngFor="let item of filterItems; let i = index">
                <div [routerLink]="['/item/', item.index]" *ngIf="i % 2 != 0" id="selContainer">
                        <td class="itemLink" id="index">{{item.index}}</td>
                        <td class="itemLink" id="name">{{item.name}}</td>
                        <td class="itemLink" id="type">{{item.equipment_category}}</td>
                        <td class="itemLink" id="cost">{{item.cost.quantity}} {{item.cost.unit}}</td>
                </div>
                <div [routerLink]="['/item/', item.index]" *ngIf="i % 2 == 0" id="selContainerDark">
                        <td class="itemLink" id="index">{{item.index}}</td>
                        <td class="itemLink" id="name">{{item.name}}</td>
                        <td class="itemLink" id="type">{{item.equipment_category}}</td>
                        <td class="itemLink" id="cost">{{item.cost.quantity}} {{item.cost.unit}}</td>
                </div>
        </tbody>
</div>