h1 {
        margin-left: 12px;
        font-weight: bold;
        text-decoration: underline;
}
#table {
        margin-left: auto;
        margin-right: auto;
        width: 70%;
        display: flex;
}

.tableHeader {
        background-color: black;
        color: white;
}

#formContainer {
        display: flex;
        flex-direction: row;
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
}

#selContainer {
        width: 100%;
        display: flex;
}

#selContainer:hover {
        background-color: rgb(240, 240, 240);
        height: 32px;
        cursor: pointer;
}

#selContainer td {
        margin-top: auto;
        margin-bottom: auto;
}

#selContainerDark {
        width: 100%;
        display:flex;
        background-color: rgb(220, 220, 220);
}

#selContainerDark:hover {
        background-color: rgb(205, 205, 205);
        height: 32px;
        cursor: pointer;
}

#selContainerDark td {
        margin-top: auto;
        margin-bottom: auto;
}

div div {
        margin-left: 0;
        margin-right: 0;
}
#space {
        width: 1%;
}

#select {
        margin-top: 0px;
        width: fit-content;
}

#l2 {
        display: flex;
        flex-direction: row;
        height:fit-content;
}

#textBox1 {
        margin: 0;
}

#name {width: 40%;}
#type {width: 35%; text-align: center;}
#cost {width: 15%; text-align: center;}
#index {width: 10%; text-align: center;}