<h1 *ngIf="itemData">{{title}}</h1>
<div class="restrain" *ngIf="itemData">
        <p style="margin-top:8px; font-size: 28px;"><b>{{itemData.name}}</b></p>
        <p><b>Category: </b>{{itemData.category}}</p>
        <p><b>Rarity: </b>{{itemData.rarity}}</p>
        <p>{{itemData.description}}</p>
        <br>
</div>