h1 {
        margin-left: 12px;
        font-weight: bold;
        text-decoration: underline;
}
.restrain {
        width: 50%;
        padding: 0px 8px;
        margin: 32px 0px 64px;
        margin-left: auto;
        margin-right: auto;
        height: fit-content;
        border-width: 12px 4px;
        border-color: black;
        border-style: solid;
}

hr {
        margin-top: 8px;
        margin-bottom: 4px;
}

p {
        margin-bottom: 0px;
}