<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark green darken-1">
           
        <!-- Navbar brand -->
        <logo><a class="navbar-brand" href="#">Guzse's Tools</a></logo>
    
        <!-- Collapsible content -->
        <links>
    
            <!-- Links -->
            <ul class="navbar-nav mr-auto">
                    <li class="active" [routerLinkactive]="['active']">
                        <a class="nav-link waves-light" [routerLink]="['/home']" mdbRippleRadius>Home<span class="sr-only">(current)</span></a>
                    </li>
                    <!-- Dropdown -->
                    <li class="nav-item dropdown" dropdown>
                        <a dropdownToggle mdbRippleRadius type="button" class="nav-link dropdown-toggle waves-light" mdbRippleRadius>
                        Tools<span class="caret"></span></a>
                        <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                            <a class="dropdown-item waves-light" mdbRippleRadius [routerLink]="['/creator']">D&D Magic Item Creator</a>
                            <a class="dropdown-item waves-light" mdbRippleRadius [routerLink]="['/magicitems']">D&D Magic Item Database</a>
                            <a class="dropdown-item waves-light" mdbRippleRadius [routerLink]="['/items']">Official D&D Equipment Database</a>
                            <div class="divider dropdown-divider"></div>
                            <a class="dropdown-item waves-light" mdbRippleRadius href="http://homebrewery.naturalcrit.com/user/Guzse">Homebrewery</a>
                        </div>
                    </li>
                    <li class="active" [routerLink]="['active']">
                        <a class="nav-link waves-light" [routerLink]="['/about']" mdbRippleRadius>About<span class="sr-only">(current)</span></a>
                    </li>
                </ul>
            <!-- Links -->
    
            <!-- Search form -->
            <form class="form-inline  waves-light" mdbRippleRadius>
                <input class="form-control mr-sm-2" type="text" placeholder="Search">
            </form>
        </links>
        <!-- Collapsible content -->
    
    </mdb-navbar>
    <!--/.Navbar-->