<h1 *ngIf="itemData">{{title}}</h1>
<div class="restrain" *ngIf="itemData">
        <p style="margin-top:8px; font-size: 28px;"><b>{{itemData.name}}</b></p>
        <hr>
        <p><b>Category: </b>{{itemData.equipment_category}}</p>
        <p *ngIf="itemData.weight"><b>Weight: </b>{{itemData.weight}} lbs.</p>
        <p *ngIf="itemData.cost"><b>Cost: </b>{{itemData.cost.quantity}} {{itemData.cost.unit}}</p>
        <hr>
        <div *ngIf='itemData.equipment_category == "Weapon"'>
                <p><b>Damage: </b>{{itemData.damage.dice_count}}d{{itemData.damage.dice_value}} {{itemData.damage.damage_type.name}}</p>
                <p><b>Weapon Category: </b>{{itemData.weapon_category}}</p>
                <p><b>Weapon Range: </b>{{itemData/weapon_range}}</p>
                <div *ngIf="itemData.properties">
                        <p><b>Properties:</b></p>
                        <ul>
                                <li *ngFor="let prop of itemData.properties">{{prop.name}}</li>
                        </ul>
                </div>
        </div>
        <div *ngIf='itemData.equipment_category == "Armor"'>
                <p><b>Armor Class: </b>{{itemData.armor_class.base}}<span *ngIf="itemData.armor_class.dex_bonus"> + Dexterity Modifier</span><span *ngIf="itemData.armor_class.max_bonus"> (Max {{itemData.armor_class.max_bonus}})</span></p>
                <p><b>Armor Category: </b>{{itemData.armor_category}}</p>
                <p *ngIf="itemData.stealth_disadvantage"><b>Stealth Disadvantage: </b>yes</p>
                <p *ngIf="!itemData.stealth_disadvantage"><b>Stealth Disadvantage: </b>no</p>
        </div>
        <div *ngIf='itemData.equipment_category == "Adventuring Gear"'>
                <p><b>Item Type: </b>{{itemData.gear_category}}</p>
                <b *ngIf="itemData.desc">Description: </b>
                <p *ngFor="let line of itemData.desc">{{line}}</p>
        </div><div *ngIf='itemData.equipment_category == "Tools"'>
                <p><b>Tool Type: </b>{{itemData.tool_category}}</p>
                <b *ngIf="itemData.desc">Description: </b>
                <p *ngFor="let line of itemData.desc">{{line}}</p>
        </div>
        <div *ngIf='itemData.equipment_category == "Mounts and Vehicles"'>
                <p><b>Vehicle Type: </b>{{itemData.vehicle_category}}</p>
                <p *ngIf="itemData.speed"><b>Speed: </b>{{itemData.speed.quantity}} {{itemData.speed.unit}}</p>
                <p *ngIf="itemData.capacity"><b>Capacity: </b>{{itemData.capacity}}</p>
                <b *ngIf="itemData.desc">Description: </b>
                <p *ngFor="let line of itemData.desc">{{line}}</p>
        </div>
        <br>
</div>