#card {
        width: 70%;
        margin-top: 75px;
        margin-left: auto;
        margin-right: auto;
        background: white;
}

#navbar {
        top: 0px;
        position: fixed;
        z-index: 999;
        width: 100%;
}