<h1>{{title}}</h1>
<div id="formContainer">
        <div id="textBox1" class="md-form">
                <input mdbActive type="text" id="form1" class="form-control" [(ngModel)]='name'>
                <label for="form1" class="">Item Name</label>
        </div>
        <div id="space"></div>
        <select id="select" ng-selected="1" class="form-control" [(ngModel)]="category">
                <option *ngFor="let type of itemCategories" [value]="type.value">{{type.value}}</option>
        </select>
        <select id="select" ng-selected="1" class="form-control" [(ngModel)]="rarity">
                <option *ngFor="let type of itemRarity" [value]="type.value">{{type.value}}</option>
        </select>
        <div id="space"></div>
        <button type="button" (click)="update()" class="btn btn-primary">Filter</button>
</div>
<br>
<div *ngIf="items != null" style="padding-bottom: 640px">
        <div id="table" class="tableHeader">
                <td id="index">Index</td>
                <td id="name">Item</td>
                <td id="type">Category</td>
                <td id="cost">Rarity</td>
        </div>
        <tbody id="table" *ngFor="let item of items; let i = index">
                <div (click)="pickItem()" *ngIf="i % 2 != 0" id="selContainer">
                        <td class="itemLink" id="index">{{item.id}}</td>
                        <td class="itemLink" id="name">{{item.name}}</td>
                        <td class="itemLink" id="type">{{item.category}}</td>
                        <td class="itemLink" id="cost">{{item.rarity}}</td>
                </div>
                <div [routerLink]="['/magicitem/', item.id]" *ngIf="i % 2 == 0" id="selContainerDark">
                        <td class="itemLink" id="index">{{item.id}}</td>
                        <td class="itemLink" id="name">{{item.name}}</td>
                        <td class="itemLink" id="type">{{item.category}}</td>
                        <td class="itemLink" id="cost">{{item.rarity}}</td>
                </div>
        </tbody>
        <div id="table" class="tableHeader">
                <td id="side"><Button id="page" (click)="pageDown()" type="button"><i class="fa fa-arrow-left" aria-hidden="true"></i></Button></td>
                <td id="filler"></td>
                <td id="side"><Button id="page" (click)="pageUp()" type="button"><i class="fa fa-arrow-right" aria-hidden="true"></i></Button></td>
        </div>
</div>