/* You can add global styles to this file, and also import other style files */
body {
        margin-top: 0;
        margin-bottom: 0;
        margin-left: auto;
        margin-right: auto;
        background-image: url("background.png");
        
        background-repeat: no-repeat;
        background-attachment: fixed;
}
