<h1>{{title}}</h1>
<div id="cols" class="column">
                <div id="col" class="col-sm-4">
                                <div class="card">
                                                <!--Card image-->
                                                <img class="img-fluid" src="https://scontent.fbru2-1.fna.fbcdn.net/v/t1.0-9/12512775_544278739077601_1176200003315031157_n.jpg?_nc_cat=0&oh=c4e0d2669ce915caad69fe318f508936&oe=5BBE3CDB" alt="This beautiful face belongs to me!">
                                            
                                                <!--Card content-->
                                                <div class="card-body">
                                                    <!--Title-->
                                                    <h4 class="card-title">Gilian Sterckx</h4>
                                                    <!--Text-->
                                                    <form action="https://www.youtube.com/channel/UC0mSEk85TpHH6zLXLwUbyFg">
                                                        <button class="btn red darken-1 waves-light" mdbRippleRadius><i class="fa fa-youtube-play" aria-hidden="true"></i></button>
                                                    </form>
                                                    <button class="btn blue lighten-1 waves-light" href="https://twitter.com/MyNameIsGuzse" mdbRippleRadius><i class="fa fa-twitter" aria-hidden="true"></i></button>
                                                    <button class="btn blue darken-4 waves-light" href="" mdbRippleRadius><i class="fa fa-facebook" aria-hidden="true"></i></button>
                                                </div>
                                            
                                            </div>
                </div>
                <div id="col" class="col-sm-8">
                        <p>Welcome! You can use the navigation bar to find any pages you might be looking for. </p>
                        <p>In the D&D Magic Item Generator, you can design a item and download it as an image, or upload it to the cloud.</p>
                        <p>In the D&D Magic Item Database, you can find the items uploaded by you and other users.</p>
                        <p>In the Official D&D Equipment Database, you can find every item in the official D&D SRD.</p>
                </div>
                
        </div>