h1 {
        margin-left: 12px;
        font-weight: bold;
        text-decoration: underline;
}
#cols {
        margin: 0px;
        width: 100%;
        display: flex;
        justify-content: center;
}
div{

}
#col {

}