<!--Panel-->
<div class="card card-body">
                <h4 class="card-title">Panel title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <div class="flex-row">
                    <a class="card-link">Card link</a>
                    <a class="card-link">Another link</a>
                </div>
</div>
            <!--/.Panel-->